.app-wrpper {
  max-width:1200px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 90%;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
}

.app-wrpper-content {
  grid-area: c;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.048);
  height:90vw;
  border-radius: 4px;
}
